

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Della Respira', serif;
    overflow-x: hidden
}

* {
    box-sizing: border-box;
}


/***
    Nav bar styles
*/

.nav-slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
}

    .nav-slideshow video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.video-div {
    display: none;
}

.video-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-columns: auto auto auto;
    text-align: center;
    align-content: center;
    grid-row-gap: 60px;
}


.icons {
    color: white;
    font-size: 50px;
    cursor: pointer;
}

    .icons .prev-icon {
        padding: 10px;
    }

.nav-slideshow .video-text h1 {
    color: white;
    font-size: 55px;
    font-weight: bold;
}



.video-text h2 a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 5px solid white;
    padding: 10px;
    transition: font-size 2s;
}

    .video-text h2 a:hover {
        font-size: 35px;
    }

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    color: white;
}

.nav-links {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: baseline;
    top: 20px;
    right: 30px;
    color: white;
}

    .nav-links .active {
        font-weight: bolder;
    }

    .nav-links a {
        padding: 20px;
        text-decoration: none;
        cursor: pointer;
        color: white;
    }

.hamburg {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 30px;
    display: none;
    cursor: pointer;
}

    .hamburg .line {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-top: 2px;
    }

    .hamburg .line1 {
        width: 25px;
        height: 4px;
        background-color: white;
        margin-top: 2px;
    }

    .hamburg .line2 {
        width: 20px;
        height: 4px;
        background-color: white;
        margin-top: 2px;
    }

    .hamburg .line3 {
        width: 15px;
        height: 4px;
        background-color: white;
        margin-top: 2px;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    padding: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(203,62,60,255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
            color: black;
        }

.dropdown:hover .dropdown-content {
    display: block;
}






@media screen and (max-width: 800px) {

    .hamburg {
        display: block;
        z-index: 1;
    }

    .nav-links {
        display: none;
    }

    .nav-open .hamburg .line1, .nav-open .hamburg .line2 {
        display: none;
    }

    .nav-open .hamburg .line3 {
        position: absolute;
        width: 30px;
        transform: rotate(45deg);
        left: 28px;
    }

    .nav-open .hamburg .line {
        position: absolute;
        transform: rotate(-45deg);
        left: 28px;
    }

    .nav-open .sidebar {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(203,62,60,255);
        width: 50%;
        height: 100%;
    }

        .nav-open .sidebar .hamburg {
            z-index: 1;
        }

        .nav-open .sidebar .nav-links {
            height: 100%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }


            .nav-open .sidebar .nav-links .dropbtn {
                color: white;
            }

    .nav-open .dropbtn {
        color: black;
    }

    .nav-open .dropdown-content {
        background-color: #f9f9f9;
    }

        .nav-open .dropdown-content a {
            color: black;
        }
}

/***
          Mission section style
    */

.mission-section {
    width: 1000px;
    margin: 0 auto;
}

    .mission-section h1 {
        color: rgba(203,62,60,255);
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

.mission-description {
    display: flex;
    justify-content: center;
    align-items: center;
}


    .mission-description .img {
        width: 100%;
        height: auto;
    }



    .mission-description button {
        background-color: rgba(203,62,60,255);
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        margin: 12px 74px;
    }

.mission-description-text a {
    background-color: rgba(203,62,60,255);
    height: 50px;
    width: 300px;
    padding: 15px;
    text-align:center;
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 800px) {
    .mission-section {
        width: 100%;
        margin: 0;
        text-align: center;
    }


    .mission-description {
        display: block;
    }

    .mission-description-text {
        display: grid;
        grid-auto-rows: auto auto;
        grid-row-gap: 20px;
        justify-items: center;
    }

        .mission-description-text p {
        }

    .mission-description img {
        display: none;
    }

    .mission-description-text button {
        margin: 0;
    }
}

/**
    Down arrow icon
*/

.moving-icon {
    color: rgba(203,62,60,255);
    font-size: 60px;
    text-align: center;
    margin: 0;
    animation: mymove 3s ease infinite;
}


@keyframes mymove {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}



/***
          Cases section style
    */

.cases {
    padding-bottom: 30px;
}

.cases-numbers {
    display: grid;
    color: white;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center; 
    grid-column-gap: 100px;

}

.cases-numbers .item h1 {
        color: rgba(203,62,60,255);
        font-weight: bolder;
        color: white;
}


.item {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: rgba(203,62,60,255);
    grid-row-gap: 10px;
    justify-content: center; 
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

    .item h2 {
        text-align: center;
    }

/**Animate numbers*/



@media screen and (max-width: 800px) {

    .cases-numbers {
        display: block;
        text-align: center;
    }
}



/**Styling the news section*/

.news {
    width: 900px;
    margin: 0 auto;
}

    .news h1 {
        color: rgba(203,62,60,255);
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }

.news-item {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
}



.details .header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: baseline;
    justify-content: space-between;
}

.details button {
    background-color: rgba(203,62,60,255);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.news-item img {
    width: 100%;
    height: auto;
}





@media screen and (max-width: 800px) {

    .news {
        width: 400px;
        margin: 0 auto;
    }

    .news-item {
        display: block;
    }

        .news-item img {
            display: none;
        }
}

@media screen and (max-width: 450px) {
    .news {
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    .details .button {
        display: flex;
        justify-content: center;
    }
}

/**footer styling */

.footer {
    background-color: rgba(203,62,60,255);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
    color: white;
    padding: 10px;
}

    .footer .countries .links {
        display: flex;
        flex-direction: column;
    }

footer .usefulLinks .links {
    display: flex;
    flex-direction: column;
}

footer .info .links a {
    padding: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer .countries .links a {
    padding: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer .usefulLinks .links a {
    padding: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}



@media screen and (max-width: 800px) {

    .footer {
        margin-top: 20px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

        .footer .info {
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .footer .countries {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .footer .usefulLinks {
            grid-column-start: 2;
            grid-column-end: 3;
        }


    .footer-section {
        display: flex;
        justify-content: space-between;
    }
}


/**********************************************************************************About us page styling*******************************/

/**Nav bar*/

.background-aboutUs {
    position: relative;
    background-image: url(../Image/covid-19.jpeg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    opacity: 0.8;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
}

.AboutUsInfo {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .AboutUsInfo p {
        width: 50%;
    }


@media screen and (max-width: 800px) {

    .AboutUsInfo p {
        width: 80%;
    }
}


/**FAQ section*/

.FAQ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    .FAQ .question-answer {
        width: 50%;
    }

    .FAQ h1, .FAQ h2 {
        color: rgba(203,62,60,255);
    }

@media screen and (max-width: 800px) {

    .FAQ .question-answer {
        width: 80%;
    }
}


/** Team section styling*/

.team {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.teamDetails {
    width: 50%;
    text-align: center;
}

.team img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.team h2, .team h1 {
    text-align: center;
    color: rgba(203,62,60,255);
}

@media screen and (max-width: 800px) {

    .teamDetails {
        width: 80%;
    }

    .team img {
        width: 80%;
    }
}

/*********************Country - Rwanda Info **********************************/

.background-CountryInfo {
    background-image: url(../Image/Rwanda.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    opacity: 0.8;
}

.background-UKsInfo {
    background-image: url(../Image/uk.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    opacity: 0.8;
}

.background-MauritiusInfo {
    background-image: url(../Image/Mauritius.jpeg);
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    opacity: 0.8;
}



.CountryInfo, .MauritiusInfo, .UKInfo {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .CountryInfo h1, .MauritiusInfo h1, .UKInfo h1 {
        padding-top: 30px;
        color: white;
 }

    .CountryInfo P, .MauritiusInfo p, .UKInfo p {
        width: 80%;
    }

@media screen and (max-width: 800px) {

    .CountryInfo p {
        width: 96%;
    }
}


@media screen and (max-width: 400px) {

    .CountryInfo p {
        width: 90%;
    }
}
/************Map css*/

.toggleSwitch a {
    text-decoration: none;
    color: black;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    float: left;
}

    .toggleSwitch a:focus {
        background-color: rgba(203,62,60,255);
        color: white;
        outline: none;
    }

.toggleSwith a:hover {
    color: black;
}



.country-buttons {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    align-items: start;
}



/********* Map section csss ****/

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-top: 20px;
}

.mapDetails {
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.map-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

  .map-item #caseTitle, .map-item DeathTitle {
        cursor: pointer;
    }

    .map-item a {
        text-decoration: none;
        color: white;
        display: block;
        width: 203px;
        padding: 10px;
        text-align: center;
        background-color: rgba(203,62,60,255);
    }



    .map-item p {
        font-weight: bolder;
        font-size: 30px;
    }

@media screen and (max-width: 800px) {

    .map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .toggleSwitch a {
        flex-direction: column;
        width: 69px;
    }
}


.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 600px;
}

#gmap_canvas, .mapDetails {
    padding: 20px;
}

/** Graphs styling*/

.chartData {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
}

.chart-title p {
    padding-bottom: 15px;
}

iframe {
    width: 1070px;
    height: 400px;
    border: 0 ;
}

#myselect {
    width: 200px;
}



.chart-container {
    position: relative;
}

.chart-title {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

    .chart-title h2 {
        color: rgba(203,62,60,255);
    }

@media screen and (min-width: 800px) {
    .chart-container {
        width: 50vw;
    }
}

@media screen and (max-width: 800px) {
    iframe {
        width: 100%;
        height: 100%;
    }

    .chart-title p {
        width: 400px;
    }
}



@media screen and (max-width: 800px) {
    .chartData {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        grid-row-gap: 30px;
    }

    .country-buttons {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        justify-content: center;
        align-items: center;
    }
}

/** Travel Restrictions*/

.restrictions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restriction-item {
    width: 80rem;
   
 
}

    .restriction-item h2 {
        background-color: rgba(203,62,60,255);
        Color: white;
        font-size: 20px;
        height: 50px;
        padding-left: 10px;
        border-radius: 5px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 210px 210px;
        align-items: center;
        cursor: pointer;
    }

    .restriction-item h2:hover{
        
    }

        .restriction-item #travel-one, #travel-two, .restriction-item #airline-one, #airline-two {
            grid-template-columns: 170px 170px;
        }

    .restriction-item strong {
        color: rgba(203,62,60,255);
    }


.restrictions #travel-data, #airline-data, #quarantine-data, #certificate-data {
    display: none;
}
@media screen and (max-width: 1200px) {

    .restriction-item {
        width: 900px;
    }
}


    @media screen and (max-width: 800px) {

        .restrictions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .restriction-item {
            width: 450px;
        }
    }

    @media screen and (max-width: 450px) {

        .restriction-item {
            width: 312px;
        }
    }

